export(cellInfo)
export(changeCellStatus)
exportClasses(cutList)
exportClasses(dataObj)
exportClasses(dimInfo)
exportClasses(dimVar)
exportClasses(linProb)
exportClasses(problemInstance)
exportClasses(safeObj)
exportClasses(sdcProblem)
exportClasses(simpleTriplet)
export(getInfo)
export(makeProblem)
exportMethods(calc.cutList)
exportMethods(calc.dimVar)
exportMethods(calc.linProb)
exportMethods(calc.multiple)
exportMethods(calc.problemInstance)
exportMethods(calc.sdcProblem)
exportMethods(calc.simpleTriplet)
exportMethods(get.cutList)
exportMethods(get.dataObj)
exportMethods(get.dimInfo)
exportMethods(get.dimVar)
exportMethods(get.linProb)
exportMethods(get.problemInstance)
exportMethods(get.safeObj)
exportMethods(get.sdcProblem)
exportMethods(get.simpleTriplet)
exportMethods(init.cutList)
exportMethods(init.dataObj)
exportMethods(init.dimVar)
exportMethods(init.simpleTriplet)
exportMethods(print)
exportMethods(set.cutList)
exportMethods(set.dataObj)
exportMethods(set.dimInfo)
exportMethods(set.linProb)
exportMethods(set.problemInstance)
exportMethods(set.sdcProblem)
exportMethods(show)
exportMethods(summary)
export(primarySuppression)
export(protectLinkedTables)
export(protectTable)
export(setInfo)
import("methods")
import("Rcpp")
import("Rglpk")
useDynLib(sdcTable)
