useDynLib(sdcTable)
export(protectTable, primarySuppression, changeCellStatus, protectLinkedTables, calcFullTable, calcDimInfos, setBounds, prepareInput, summary.safeTable, cellInfo, checkSuppressionPattern)
